# Build and Release Folders
bin-debug/게임노트
bin-release/
[Oo]bj/캐드 
[Bb]in/@김용호 

# Other files and folders
.settings/옵션


# Executables게임만들기
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
